.work-section-wrapper {
  @include background-image("./../../images/trees-fog.jpg");
  background-position: center;
}

.heading-wrapper {
  border-bottom: 2px solid $secondary;
  padding: 10px 0;
  margin-bottom: 10px;
}

.subheading {
  display: flex;
  align-items: center;
  gap: 1em;
}
