$border-radius: 10px;

$clip-path-top: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
$clip-path-bottom: polygon(0 0, 100% 0%, 100% 95%, 0% 100%);
$clip-path-top-bottom: polygon(0 4%, 100% 0%, 100% 96%, 0% 100%);
