/* Base */
@import "base/reset";
@import "base/base";
@import "base/footer";
@import "base/header";

/* Abstracts */
@import "abstracts/colors";
@import "abstracts/media-query";
@import "abstracts/typography";
@import "abstracts/variables";

/* Components */
@import "components/education";
@import "components/landing";
@import "components/projects";
