@use "../abstracts/variables" as *;
@use "../abstracts/colors" as *;

.section {
  min-height: 60vh;
  padding: 1em;
}

.list-wrapper {
  display: flex;
  flex-flow: column wrap;
  max-height: 18rem;

  @media (max-width: $small-width) {
    max-height: unset;
  }

  .skill,
  .duty {
    word-break: break-word;

    @media (max-width: $tablet-width) {
      font-size: calc(0.4rem + 1vw);
    }

    @media (max-width: $small-width) {
      font-size: calc(0.6rem + 1vw);
    }
  }
}

.top-divider {
  border-bottom: none;
  border-top: 1px solid $secondary;
  margin: 10px 0;
  width: 50%;
}

.bottom-divider {
  border-bottom: 2px solid $secondary;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
